body {
    background: url(./bg-pattern-bottom-desktop.svg) right bottom no-repeat, url(./bg-pattern-top-desktop.svg) left top no-repeat; 
    font-family: 'Spartan', 'sans-serif';
    font-size: 15px;
}
.main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10%;
}
.main-1{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    color: #511f50;
}
.header-1{

    font-size: 34px;
    font-weight: bold;
}
.header-1 > span{
    font-size: 38px;
    font-weight: 900 !important;
}
.header-text{
    font-size: 12px;
    line-height: 1.5rem;
}
.header-rating{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0.4;
}
.stars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    background-color: #f7f2f8;
    color: #511f50;
    border-radius:12px;
    height: 20%;
}
.stars > .rating-1 > ul{
    display: flex;
}
.stars > .rating-1 > ul > li{
    list-style: none;
    margin-right: 8%;
}
.rating-1-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    margin-right: 20%;
    margin-left: 20%;
}
.stars1 {
    display: flex;
    border-radius:12px;
    height: 20%;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    background-color: #f7f2f8;
    color: #511f50;
    margin-left: 10%;
    margin-right: -5%;
}
.stars1 > .rating-2 > ul{
    display: flex;
}
.stars1 > .rating-2 > ul > li{
    list-style: none;
    margin-right: 8%;
}
.rating-2-text{
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-right: 14%;
    margin-left: 20%;
}
.stars2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    background-color: #f7f2f8;
    color: #511f50;
    border-radius:12px;
    height: 20%;
    margin-left: 20%;
    margin-right: -10%;

}
.stars2 > .rating-3 > ul{
    display: flex;
}
.stars2 > .rating-3 > ul > li{
    list-style: none;
    margin-right: 8%;
}
.rating-3-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 16%;
    margin-left:20%;
}

.main-2{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 6%;
}
.customer-1{
    
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: #511f50;
}
.customer-2{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: #511f50;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: -2%;
}
.customer-3{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: #511f50;
    margin-left: 3%;
    margin-top: 4%;
    margin-bottom: -4%;
}
.user-profile{
    display: flex;
    padding: 10%;
}
.user-profile1{
    display: flex;
    padding: 10%;
}
.user-profile2{
    display: flex;
    padding: 10%;
}
.user-profile > img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.user-profile1 > img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.user-profile2 > img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.user-name{
    margin-left: 8%; 
    font-size: 14px;
    font-weight: bold;
    color:white ;
}
.user-name1{
    margin-left: 8%; 
    font-size: 14px;
    font-weight: bold;
    color:white ;
}
.user-name2{
    margin-left: 8%; 
    font-size: 14px;
    font-weight: bold;
    color:white ;
}

.verified{
    margin-top: -8%;
    color: #85356b;
}
.verified1{
    margin-top: -8%;
    color: #85356b;
}
.verified2{
    margin-top: -8%;
    color: #85356b;
}
.user-review{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
    margin-top: -5%;
    color: white;
}
.user-review > p {
    font-size: 12px;
    line-height: 1.3rem;
}
.user-review1{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
    margin-top: -5%;
    color: white;
}
.user-review1 > p {
    font-size: 12px;
    line-height: 1.3rem;
    
}
.user-review2{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
    margin-top: -5%;
    color: white;
}
.user-review2 > p {
    font-size: 12px;
    line-height: 1.3rem;
    
}

.customer-3{
    border: 1px solid;
    margin-left: 3%;
}

@media screen and (max-width:800px){
    body{
        background: url(./bg-pattern-bottom-mobile.svg) right bottom no-repeat, url(./bg-pattern-top-mobile.svg) left top no-repeat; 
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .main-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-text{
        text-align: center;
    }
    .header-1, .header-1 > span{
        text-align: center;
    }

    .header-rating{
        margin-top: 10%;
    }
    .stars{
        margin-top: 5%;
        font-size: 11px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .stars > .rating-1 > ul{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30%;
    }
    .rating-1-text{
        text-align: center;
        margin-left: 20%;
    }
    .stars1{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 11px;
        margin-left: 0;
        margin-right: 0;
        
    }
    .stars1 > .rating-2 > ul{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30%;
    }
    .rating-2-text{
        margin-right: 20%;
    }
    .stars2{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 11px;
        margin-left: 0;
        margin-right: 0;
    }
    .stars2 > .rating-3 > ul{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30%;
    }
    .rating-3-text{
        margin-right: 20%;
    }
    .main-2{
        display: flex;
        flex-direction: column;
    }
    .customer-2{
        margin-right: 0;
        margin-left:0 ;

    }
    .customer-3{
        margin-right: 0;
        margin-left:0 ;

    }
}